@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --font-sans: 'Poppins', sans-serif;
    --font-serif: 'Tinos', serif;
    --font-mono: 'Tinos', monospace;
    --font-display: 'Tinos', sans-serif;
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-serif);

  }
}

:root.dark {
  --color-background: var(--color-gray-950);
  --color-foreground: #01030a;
  --color-border: var(--color-gray-700);
  --color-text: var(--color-gray-200);
  --color-text-article: var(--color-gray-300);
  --color-text-muted: var(--color-gray-500);
  --color-primary: #668CF4;
  --color-secondary: var(--color-amber-400);
  --color-accent: var(--color-emerald-200);
  --color-muted: #808080;
}

/* Light theme (inverted colors while maintaining contrast and readability) */
:root {
  --color-background: var(--color-gray-50);
  --color-foreground: #ffffff;
  --color-border: var(--color-gray-300);
  --color-text: var(--color-gray-900);
  --color-text-article: var(--color-gray-800);
  --color-text-muted: var(--color-gray-700);
  --color-primary: #4070F4;
  --color-secondary: var(--color-amber-500);
  --color-accent: var(--color-emerald-600);
  --color-muted: #6B7280;
}

@theme {
  --color-background: var(--color-gray-950);
  --color-foreground: #01030a;
  --color-border: var(--color-gray-700);
  --color-text: var(--color-gray-200);
  --color-text-article: var(--color-gray-300);
  --color-text-muted: var(--color-gray-500);
  --color-primary: #668CF4;
  --color-secondary: var(--color-amber-400);
  --color-accent: var(--color-emerald-200);
  --color-muted: #808080;
}

html,
body {
  @apply bg-background text-text;
}


.spin {
  animation: spin 1s reverse linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.primary-btn {
  @apply bg-secondary text-background font-sans text-sm px-2 py-1 hover:bg-background border hover:text-secondary border-secondary active:scale-95
}

.secondary-btn {
  @apply border border-border px-2 text-text-muted font-sans text-sm hover:bg-border hover:text-background active:scale-95
}

.fade-edges {
  mask-image: linear-gradient(to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.45) 40%,
      rgba(0, 0, 0, 0.45) 50%,
      transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.45) 40%,
      rgba(0, 0, 0, 0.45) 50%,
      transparent 100%);
}